﻿<!--Strat Main Container-->
<div id="body-wrapper" class="chng-acc-sub-page">
    <header class="fixed-head">
        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!-- <div class="main-logo"></div>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            </div>
        </nav>
    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">

                <h4>{{accountSubmitMessage}}</h4>

                <br />
                <br />
                <div class="row">
                    <div class="col-sm-12 text-right"><a href="#/login"><input type="button" value="Return to Login" class="btn btn-success box-btn-shadow"></a></div>
                </div>
            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  |  <a href="#/ReportIssue">Report Issue</a></p></div>
</div>
<!--End Main container-->
