

<div class="navbar-bg"></div>
<div>
    <div class="menubar-bg"></div>

     <div class="home"><a href="index.html"><img src="assets/img/home_icon.png" /></a></div>

    <div class="sidebar">
        <div id="nav-icon" ng-click="start();">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li ng-show = "IsShopShow" class="ShopDisabled"><a href="searchApp/index.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a></li>
            <li><a href="#" ng-click="redirect('Payments')"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a></li>
            <li ng-disabled="condition"><a href="" ng-click="clickToChat()"><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
            <li><a href="#" ng-click="redirect('Settings')"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
            <li><a href="" ng-click="about();"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
        </ul>
    </div>
<div class="container">
    <div class="col-md-offset-3 col-md-6 col-sm-6 col-lg-6 col-xs-12 mess-home-main-sec">
        <div class="mes-text-main">
            <p>You Must First Select Your Store From Home</p>
        </div>
    </div>
</div>
</div>

