﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head id="headSection">
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
            display: none !important;
        }
    </style>
      
    <script src="app/js/angular.js"></script>   
    <script src="app/js/angular-messages.js"></script>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    <link href="assets/css/captchaStyle.css" rel="stylesheet" />  
    
    <custom-title></custom-title>

</head>
<body id="mainBody" style="overflow: inherit;" ng-cloak>
    <div ng-init="pageInit()" ng-controller="mainCtrl">
        <div class="text-center">
            <img ng-if="!Loaded" src="assets/img/ajax-loader.gif" />
        </div>
        <div ng-show="Loaded">
            <div ng-controller="loginCtrl">
                <div ng-view="">
                </div>        
            </div>
        </div>
    </div>
    <script src="app/js/angular-route.js"></script>
    <script src="app/js/angular-cookies.js"></script>
    <script src="assets/js/jquery-1.7.2.js"></script> 
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="app/js/SHA256.js"></script>
    <script src="app/js/utf8.js"></script>
    <script src="app/js/Base64.js"></script>
    <script src="app/js/payeezy_v3.2.js"></script>
    <script src="https://pubsub-test.idealss.net/faye/client.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/cookiesService.js"></script>
    <script src="app/services/idealsApiService.js"></script>  
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/loginCtrl.js"></script>
    <script src="app/controllers/accountCtrl.js"></script>
    <script src="app/controllers/signupCtrl.js"></script>
    <script src="app/controllers/changeAccountCtrl.js"></script>
    <script src="app/controllers/retrvLoginCtrl.js"></script>
    <script src="app/controllers/checkOutCtrl.js"></script>
    <script src="app/directives/pwCheck.js"></script> 
    <script src="app/directives/yearDrop.js"></script>
    <script src="app/filters/strLimit.js"></script>
    <script src="app/directives/titleDrct.js"></script>
    <script src="app/controllers/accountChgCtrl.js"></script>
    <script src="app/controllers/checkoutAllSelectedCtrl.js"></script>
    <script src="app/controllers/makePaymentCtrl.js"></script>
    <script src="app/controllers/paymentHistoryCtrl.js"></script>
    <script src="app/controllers/printPaymentHistoryCtrl.js"></script>
    <script src="app/controllers/printoutCtrl.js"></script>
    <script src="app/controllers/paymentDeclineCtrl.js"></script>
    <script src="app/controllers/reportIssueCtrl.js"></script>
    <script src="app/controllers/errorCtrl.js"></script>
</body>
</html>



