@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

html, body{ width:100%; height:100%;}
body{ font-family: 'Open Sans', sans-serif; background:#f6f6f6; padding-bottom:105px; overflow:hidden;}
.float-L{float:left;}
.float-R{float:right;}
#body-wrapper{ height:100%;}
/**************************Login*****************************/

/*background: url(https://olaf.idealss.com/img/versirent_logo.png) no-repeat center 2px;


height: 75px;
    width: 224px;
    position: absolute;
    background-size: contain;
    max-height: 75px; */

.footer-privacy {
    position: fixed;
    bottom: 8px;
    z-index: 999;
    padding: 11px 0px 0px 0px;
    border-top: 1px solid #ececec;
    width: 100%;
    background: #FFFF80;
}

 .disabled{
     cursor: not-allowed;
    }

.navbar-toggle {
    margin-top: 26px !important;
}
.add-details {
    top: 85px !important;
}
.add-userdetails {
    top: 94px !important;
}

#login-wrapper .login-container, #login-wrapper .retrive-login-container {
    top: 153px !important;
}


apper .logi.header-top-1{margin-bottom:20px;}
                    .p_data{position: fixed;
                                width: 100%;
                                top: 190px; z-index:9999;}
                    /* background: url(https://olaf.idealss.com/img/versirent_logo.png) no-repeat center 2px; */
                    .main-logo {
                    background: url(https://olaf.idealss.com/img/versirent_logo.png) no-repeat center 2px;
                        height: 75px;
                        width: 224px;
                        position: fixed;
                        background-size: contain;
                        max-height: 75px;
                        z-index: 999;
                        top:60px;
                       /* left:100px; */
                    }
                    #login-wrn-container, #login-wrapper .retrive-login-container{ width:70%; min-height:440px; background:#fff; margin:auto; position:relative; top:140px;  box-shadow:0 0 3px rgba(0, 0, 0, 0.07); padding-bottom:5px;}
.login-logo{ position:absolute; top:70px; left:calc(50% - 108px);  }
.add-details{ text-align:center; font-size:13px; /* position:absolute; left:15px; right:15px; top:-40px; */ font-weight:bold; color:#7f7f7f;     word-break: break-all;  width: 100%;float: left; margin-top:90px;}
.add-userdetails{ text-align:center; font-size:13px; position:absolute; width:100%; top:-20px; font-weight:bold; color:#7f7f7f;}
#login-wrapper .login-container h4{ font-size:24px; color:#333; text-transform:uppercase;  font-weight:600;}
#login-wrapper .login-container label{ text-transform:uppercase; font-size:16px;}
#login-wrapper .login-container input[type="text"], #login-wrapper .login-container input[type="password"]{ padding:14px 34px 14px 14px; height: 46px;}
#login-wrapper .login-container input[type="button"]{ padding:10px 30px; border-radius:30px; font-size:15px; font-weight:600;}
.login-inner{ padding:30px 50px;}
.inner-addon {   position: relative; }
.inner-addon .fa {position: absolute;padding: 13px; pointer-events: none; font-size: 20px; color:#a7a7a7;}
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.bookmark a{ text-decoration:underline; color:#069;}
.center-box{ position:relative; text-align:center;}
.center-line{ width:1px; height:400px; display:inline-block; position:absolute; top:40%;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 5%, rgba(255,255,255,1) 5%, rgba(216,216,216,1) 33%, rgba(216,216,216,1) 62%, rgba(255,255,255,1) 94%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 5%,rgba(255,255,255,1) 5%,rgba(216,216,216,1) 33%,rgba(216,216,216,1) 62%,rgba(255,255,255,1) 94%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 5%,rgba(255,255,255,1) 5%,rgba(216,216,216,1) 33%,rgba(216,216,216,1) 62%,rgba(255,255,255,1) 94%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); }

.circle{ padding:12px; background:#ececec; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; position:absolute; left:-22px; top:calc(50% - 30px);}
.login-footer{ text-align:center; font-size:12px; color:#a2a2a2;}

/**************************endLogin*****************************/

/*********************dashboard********************/
.main-container{height: calc(100% - 45px); overflow:auto; margin-top: 118px; padding:20px 0 30px;}
.content-wrapper{height: 100%;}
.header-top{
    background:#363636;
    height:36px;
}
.user-name{ color:#fff; line-height:34px; font-size:13px; font-weight:normal; margin-right: 6px;}
.user-box{ margin-right:20px;}
.navbar-brand { height: 56px; padding: 4px 15px;}
.logout{  background: none; color: #fff; border: none;}
.top-content{ float:left; font-size:13px; line-height:34px; color:#fff; clear:both; margin:0;}
/*color:#a94442;*/
.error{color:#a94442; font:bold;  font-size:13px; line-height:19px; font-weight:100;}
.navbar-nav > li > a{ font-size:14px; text-transform:none; font-weight:600;  padding:15px 20px 10px; text-align:center; background:#fff; border-bottom:3px solid #fff;}
.nav-custom .navbar-nav > a, .nav-custom .navbar-nav > .active > a{ background:#f5f5f5; box-shadow:0 0 1px #bdbdbd; border-bottom:3px solid #58a944; }
.nav-custom .navbar-nav > li > a:hover, .nav-custom .navbar-nav > li > a:focus{  background:#f5f5f5; box-shadow:0 0 1px #bdbdbd; border-bottom:3px solid #58a944;}
.nav-customt .navbar-nav > .active > a, .nav-custom .navbar-nav > .active > a:hover, .nav-custom .navbar-nav > .active > a:focus{  background:#f5f5f5; box-shadow:0 0 1px #bdbdbd; border-bottom:3px solid #58a944;}

.navbar{  background: #fff; margin-bottom:0;  box-shadow:0 1px 3px rgba(0, 0, 0, 0.07); border:none;}
.menu-img{     display: block;  text-align: center;  font-size: 22px; margin-bottom: 10px;}
.menu-box{ height:80px;}
.fixed-head{ position:fixed; width:100%; top:60px; z-index:99; }

.page-inner{ background:#fff; padding:20px 30px; min-height:520px; -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.07); -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.07); box-shadow:0 1px 3px rgba(0, 0, 0, 0.07);}
.page-inner h4{ font-size:20px; text-transform:uppercase; color:#01478e; font-weight:600;}
.sub-text{ font-size:14px;}
.clear{ clear:both; height:0px;}
table.grid-custom th{ background:#004386; color:#fff; font-weight:normal;}
table.grid-custom input[type="button"]{ padding:3px 20px; text-transform:uppercase; font-size:12px;}
table.grid-custom .fa{ font-size:18px; color:#F90;}
table.grid-custom td:first-child, table.grid-custom th:first-child{ border-left:1px solid #ddd;}
table.grid-custom td:last-child, table.grid-custom th:last-child{ border-right:1px solid #ddd;}
table.grid-custom td{ border-bottom:1px solid #ddd; }
table.right_align td {
    width: 16.6666%;
}
table.right_align td:nth-child(2),
table.right_align td:nth-child(3),
table.right_align td:nth-child(5) {
    text-align: right;
    padding-right: 59px;
}
table.right_align td:nth-child(3) {
    padding-right: 80px;
}
table.right_align td:nth-child(5) {
    padding-right: 78px;
}
table.right_align th:nth-child(3) {
    padding-left: 40px;
}
table.right_align th:nth-child(5) {
    padding-right: 35px;
    text-align: center !important;
}
table.right_align_2 td:nth-child(2),
table.right_align_2 td:nth-child(3),
table.right_align_2 td:nth-child(6) {
    text-align: right;
    padding-right: 24px;
}
table.right_align_2 td:nth-child(2) {
    padding-right: 52px;
}
table.right_align_2 td:nth-child(3) {
    padding-right: 40px;
}
.Des_align_right {
    text-align: right;
}
.top_M {
    margin-top: 82px;
}
.top_M8 {
    margin-top: 8px;
}

.sel_pay_align th {
    text-align: center;
}
.sel_pay_align td:nth-child(1),
.sel_pay_align td:nth-child(3) {
    text-align: right;
}
.sel_pay_align td:nth-child(1) {
    padding-right: 69px;
}
.sel_pay_align td:nth-child(3) {
    padding-right: 53px;
}
.sel_pay_align td:nth-child(2) {
    padding-left: 66px;
}
.sel_pay_align td:nth-child(4) {
    padding-left: 64px;
}
.none_lg {
    display: none;
}
.sel_pay_align td:nth-child(5) {
    text-align: center;
}


table.right_align_3 th:nth-child(1) {
    text-align: center;
}
table.right_align_3 td:nth-child(1) {
    text-align: right;
    padding-right: 69px;
}
table.right_align_3 td:nth-child(4) {
    text-align: right;
    padding-right: 100px;
}
.align_right_D {
    text-align: right;
}
.Letf_M20 {
    margin-left: 20px;
}


.overLayGIF
{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:9999;
    background-color: rgba(0, 0, 0, 0.15);
    /*opacity:0.5;*/
    height:100%;
    width:100%;
    align-content:center;
}
.div_img
{
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px;
    margin-top:45px;
    margin-left:0px;
    margin-bottom:10px;
    margin-right:0px;
}
.overlay-position {
    position: absolute;
    top: 57%;
    left: 61%;
    margin: -50px;
    margin-top: 45px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
}
.overLayGIF1 { position:fixed;}
/***************Signup***************/
.captcha-sec{ width:100%; height:90px;}
select[multiple], select[size] {  height: 125px;}
#login-wrapper .retrive-login-container{ height:575px;}


/***************popup***************/
.page-inner h4.modal-title{ font-size:16px;}

.footer{ text-align:center; font-size:12px; background:#ececec; margin-top:20px; position:fixed; bottom:0; width:100%; border-top:1px solid #ddd;}
.footer p{ margin-bottom:0; line-height:32px;}

.pad-L-0{ padding-left:0px;}
.pad-R-0{ padding-right:0px;}

.pad-T-10{ padding-top:10px;}
.pad-L-10{ padding-left:10px;}
.pad-R-10{ padding-right:10px;}
.pad-B-10{ padding-bottom:10px;}

.pad-T-20{ padding-top:20px;}
.pad-L-20{ padding-left:20px;}
.pad-R-20{ padding-right:20px;}
.pad-B-20{ padding-bottom:20px;}

.mgn-T-10{ margin-top:10px;}
.mgn-L-10{ margin-left:10px;}
.mgn-R-10{ margin-right:10px;}
.mgn-B-10{ margin-bottom:10px;}

.mgn-T-20{ margin-top:20px;}
.mgn-L-20{ margin-left:20px;}
.mgn-R-20{ margin-right:20px;}
.mgn-B-20{ margin-bottom:20px;}

.mgn-T-30{ margin-top:30px;}
.mgn-L-30{ margin-left:30px;}
.mgn-R-30{ margin-right:30px;}
.mgn-B-30{ margin-bottom:30px;}

/*********Add User********/

.lbl-hgt{ height:25px; display:block;}
.td-info{ background:#d2d2d2;}
.MM{ width:49%; float:left; margin-right:10px;}
.YYYY{ width:49%; float:left;}
.payment-form h3{font-size: 18px; color: #3975b1; font-weight: 600;}
.info-box{ border: 1px solid #ccc; padding: 15px !important; margin-bottom: 25px;}
/* 404 page css Media query use for only 404 page*/


    .main-parent .error-img img {
        width: 100%;
        position: relative;
        bottom: -4px;
        right: -30px;
    }
    .main-parent.main-container {
        padding-top: 112px;
        margin-top: 0;
    }
    .main-parent .page-inner {
        min-height: 445px;
        padding: 20px 30px 0 30px;
    }
    .main-parent .error-style {
        color: #f48080;
        font-weight: 600;
        text-shadow: 2px 2px #e6e3e3;
    }
.make-payment-btn {
margin-top:24px;
}
.box-btn-shadow{
     -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.31);
box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.31);
}
/*====START chnage account-submit page====*/
.chng-acc-sub-page header{
    position:static;
}
.chng-acc-sub-page .page-inner {
        min-height: 420px;
        margin-top: 10px;
}
.chng-acc-sub-page .main-container {
margin-top: 0;
}
.chek-make-payment {
    margin-top:24px;
    }
table.acc_table_grid td:last-child {
text-align:center;
}
#someHiddenDiv someHiddenDiv3 {
  margin: 10px 0;
}
.tablelayout {
table-layout:fixed;
}

#tokenframe{
/*    padding-top: 2px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 12px;*/
    width: auto;
    height: 180px;
}

.custom-dropdown{
width: 100%;
box-sizing: border-box;
line-height: 18px;
border-radius: 3px;
resize: none;
border:solid 1px #ddd;
padding:8px 5px;
font-family: "Roboto",sans-serif;
color:#555555;
}


/*04-04-2017 message-home-page*/
.mess-home-main-sec { margin-top: 17%; border: 1px solid #ccc; padding: 0;}
.clse-head-btn {background-color: #4f96d3;display:inline-block;width: 100%;padding: 10px 15px;text-align:right;color:#fff;font-size: 22px;cursor:pointer;}
.clse-head-btn fa{text-align:right;}
.mes-text-main{display:table;width:100%; min-height: 200px;}
.mes-text-main p{display:table-cell;width:100%;padding: 15px;text-align:center;margin:auto;color:#333;font-size:20px;vertical-align: middle;}

/*---------*/


/*store setting*/
.main-sec-setting-2{width:100%;background-color:#f5f5f5;padding-top: 11.5%;}
.login-container-2{ width:40%;background:#fff; margin:auto;box-shadow:0 0 3px rgba(0, 0, 0, 0.07);padding-bottom: 5px; min-height: 250px;display: table;}
.login-inner-2 {padding: 8px 25px 0;display: table-cell;vertical-align: middle;}
.login-container-2 h4{ font-size:24px; color:#333; text-transform:uppercase;padding-bottom: 10px; font-weight:600;border-bottom:1px solid #ccc;}
.login-container-2 label {margin: 10px 2px;}
input.btn.pull-right.m-b-10 {width: 45%;background: #337ab7;color: #fff;border: 1px solid #337ab7;}


/*------*/

/*08-06-2017*/

.vol-ref-sec {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    height: 54px;
    line-height: 54px;
    margin: auto;
}
.vol-ref-sec .fa {
    display: block;
    margin: 0 10px 10px;
    font-size: 19px;
    vertical-align: top;
    cursor:pointer;
}
.vol-ref-sec .fa:active,.vol-ref-sec .fa:focus{    color: #33a7e3;}

.success-modal-message .modal-header{
padding:0;
}
    .success-modal-message .modal-header .alert {

margin-bottom:0;
    }
.text-red{
    color:red;
}
.text-black{
    color:black;
}
.text-green{
    color:green;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

#hamburger-inner-navbar {
     border-color: #ddd;
     margin-top: 26px !important;
     position: relative;
     float: right;
     padding: 9px 10px;
     margin-top: 8px;
     margin-right: 15px;
     margin-bottom: 8px;
     background-color: transparent;
     background-image: none;
     border-radius: 4px;
 }
#hamburger-inner-navbar .icon-bar {
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

#hamburger-inner-navbar .icon-bar + .icon-bar {
    margin-top: 4px;
}



/*====END chnage account-submit page====*/

    @media only screen and (max-width: 1200px) {
        .main-parent .page-inner {
            min-height: 100%;
        }

    }
        @media only screen and (max-width: 500px) {
            .main-parent .error-img img {
                position: relative;
                bottom: 0px;
                right: 0px;
            }
        }


/* 404 css end ==================== */

/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */

@media only screen and (min-width: 800px) {
     .disDeskTop {}
      .disMobile { display:none;}
     .min-width176 { width:177px;}
.paddingL20 { padding-left:20px;}
}
@media only screen and (max-width: 1200px) {
     .width_1170 {
        width: 1110px !important;
    }
    .table-responsive {
        margin-bottom: 15px;
    }
    .sel_pay_align td:nth-child(1) {
        padding-right: 49px;
    }
    .sel_pay_align td:nth-child(3) {
        padding-right: 33px;
    }
    .sel_pay_align td:nth-child(2) {
        padding-left: 46px;
    }
    .sel_pay_align td:nth-child(4) {
        padding-left: 44px;
    }

    table.right_align_3 td:nth-child(1) {
        padding-right: 49px;
    }
    table.right_align_3 td:nth-child(4) {
        padding-right: 60px;
    }
    .F_S13_1200 {
        font-size: 13px;
    }
}
  @media only screen and (max-width: 1100px) {
	/**************************Login*****************************/
	 #login-wrapper .login-container{ width:90%;}

	 /**************************endLogin*****************************/
 }
@media only screen and (max-width: 992px) {
    .padd_R_7 {
        padding-right: 7px;
    }
    .heigh992 {
        min-height: 142px;
    }
    .sel_pay_align td:nth-child(1) {
        padding-right: 28px;
    }
    .sel_pay_align td:nth-child(3) {
        padding-right: 11px;
    }
    .sel_pay_align td:nth-child(2) {
        padding-left: 23px;
    }
    .sel_pay_align td:nth-child(4) {
        padding-left: 21px;
    }
     table.right_align_3 td:nth-child(1) {
        padding-right: 27px;
    }
    table.right_align_3 td:nth-child(4) {
        padding-right: 17px;
    }


}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {

	}

  /* All Mobile Sizes (devices and browser) */
  @media all and (max-width:860px) {

	.grid_wrapper #tblProducts thead {display:none;}

    .grid_wrapper #tblSelPayment thead {display:none;}

	.grid_wrapper #tblProducts td {
		border-bottom: 1px solid #dddddd;
		position: relative;
		width: 100% !important;
		display: block;
		color: #222;
		text-align: left;
		line-height: 37px;
		font-size:11px;
		padding: 0px 0px 0px 55%;
        text-transform: uppercase;
	}
    .grid_wrapper #tblSelPayment td {
		border-bottom: 1px solid #dddddd;
		position: relative;
		width: 100% !important;
		display: block;
		color: #222;
		text-align: left;
		line-height: 37px;
		font-size:11px;
		padding: 0px 0px 0px 55%;

	}
	.grid_wrapper #tblProducts td:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 52%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight:bold;
		color:#fff;
		text-align:left;
		content:attr(title);
		background-color: var(--main-bg-color);
		padding-left: 10px;
	}
    .grid_wrapper #tblSelPayment td:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 52%;
		padding-right: 10px;
		white-space: nowrap;
		font-weight:bold;
		color:#fff;
		text-align:left;
		content:attr(title);
		background-color: var(--main-bg-color);
		padding-left: 10px;
	}
	.grid_wrapper #tblProducts tr:hover {background-color: #FFF;}
    	.grid_wrapper #tblSelPayment tr:hover {background-color: #FFF;}

	.grid_wrapper #tblProducts tr:nth-child(even), .grid_wrapper #tblProducts #tblSelPayment tr:nth-child(even):hover {
		background-color: #eee;}


    .grid_wrapper #tblSelPayment tr:nth-child(even), .grid_wrapper #tblProducts #tblSelPayment tr:nth-child(even):hover {
		background-color: #eee;}

	.grid_wrapper #tblProducts tr:nth-child(even) td:before {background-color: #555555 !important;}

    .grid_wrapper #tblSelPayment tr:nth-child(even) td:before {background-color: #555555 !important;}

	.grid_wrapper.pop_grid label {
	 float:none;
	}
	.tr-info{ display:block !important;position: relative; width: 10px; font-weight: bold;}
    .tr-info td{ background:#fff !important; border:none !important;}

    table.right_align .tr-info,
    table.right_align .tr-info td {
        width: 100%;
        padding: 0 !important;
    }
    .grid_wrapper #tblProducts.right_align td:nth-child(2),
    .grid_wrapper #tblProducts.right_align td:nth-child(3),
    .grid_wrapper #tblProducts.right_align td:nth-child(5) {
		text-align: right !important;
		padding: 0px 20px 0px 55%;
	}
    .grid_wrapper #tblProducts td.align_R860 {
        text-align: right !important;
        padding-right: 20px;
    }
    .width_1170 {
        width: 100% !important;
    }
    .table-responsive {
        margin-bottom: auto;
    }
    .grid_wrapper #tblProducts.right_align_2 td:nth-child(2),
    .grid_wrapper #tblProducts.right_align_2 td:nth-child(3),
    .grid_wrapper #tblProducts.right_align_2 td:nth-child(6) {
        text-align: right !important;
        padding: 0px 20px 0px 55%;
    }

   .grid_wrapper .sel_pay_align td:nth-child(1) {
        text-align: right !important;
        padding-right: 20px !important;
    }
    .grid_wrapper .sel_pay_align td:nth-child(3) {
        text-align: right !important;
        padding-right: 20px !important;
    }
    .none_lg {
        display: inline-block;
        margin-right: 20px;
        float: right;
    }
    .none_860 {
        display: none !important;
    }
    .grid_wrapper #tblProducts.right_align_3 td:nth-child(1) {
        text-align: right;
        padding-right: 20px;
    }
    .grid_wrapper #tblProducts.right_align_3 td:nth-child(4) {
        text-align: right;
        padding-right: 20px;
    }
    .F_S13_1200 {
        font-size: 11px;
    }

}

@media only screen and (max-width: 767px) {
	  .pad-L-0{ padding-left:15px;}
      .disDeskTop { display:none;}

      table.right_align .tr-info,
      table.right_align .tr-info td {
            white-space: normal !important;
      }
      table.right_align .tr-info td {
            line-height: normal !important;
            padding: 5px 10px !important;
      }
      .form_align .pad-R-0,
      .form_align .pad-R_exp-0 {
            padding-right: 0px !important;
      }
      .form_align .pad-L-0 {
            padding-left: 0px;
       }
      .mar-top-10 {
        margin-top: 20px;
      }
      .padd_R_7 {
          padding-right: 0;
      }
      .heigh992 {
        min-height: auto;
      }
      .table-responsive {
        margin-bottom: 15px;
      }
      .overlay-position {
        top: 43%;
        left: 42%;
    }
    .div-img-mobile{
        top: 37%;
        left: 42%;
    }
    .margin-top15 { margin-top:20px;}
    .header-top {
        height: 36px;
        padding-top: 5px;

    }
}
@media only screen and (max-width: 320px) {
	  .min-width176{ width:100% !important;}

	  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
	/**************************Login*****************************/
	 #login-wrapper .login-container{ height:auto;}
	 .center-line{ left:0; width:100%; height:1px;}
	 .circle{ left:calc(50% - 22px); top: calc(50% - 22px);}
	 .login-inner { padding: 20px;}
	 .sign-up{ margin-top:30px;}
	 .bookmark{ margin:20px 0;}
	 .add-details{ top:-36px;}
	 .login-logo{left: calc(50% - 100px);}
	 .login-logo img{ width:200px;}
	 /**************************endLogin*****************************/
	  .header-top{ height:auto;}
	  .top-content{ font-size:10px; line-height:16px; }
	  .user-name{ width:100%; padding:0 10px;}
	  .nav-custom .navbar-collapse, .nav-custom .navbar-form{ margin-top:15px; border: none;}
	  /*
	Label the data
	*/


	}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
	/**************************Login*****************************/
	 #login-wrapper .login-container{ height:auto;}
	 .center-line{ left:0; width:100%; height:1px;}
	 .circle{ left:calc(50% - 22px); top: calc(50% - 22px);}
	 .login-inner { padding: 20px;}
	 .sign-up{ margin-top:30px;}
	 .bookmark{ margin:20px 0;}
	 .add-details{ top:-56px; font-size:12px;}
	 .login-logo{left: calc(50% - 100px);}
	 .login-logo img{ width:200px;}
	 #login-wrapper .btn{ width:100%;}
      .min-width176{ width:100% !important;}
      .mar-b-form-10{margin-bottom:-10px;}
      .checkout-form .pad-L-0{ padding-left:0;}
      .checkout-form .pad-L1-0{ padding-left:0;}
      .checkout-form .pad-R1-0{ padding-right:15px;}
      .mar-top-10{ margin-top:20px;}
      .m-left{ text-align:left !important;}

	 /**************************endLogin*****************************/
	  .header-top{ height:auto;}
	  .top-content{ font-size:10px; line-height:16px; }
	  .user-name{ width:100%; padding:0 10px;}
	  .nav-custom .navbar-collapse, .nav-custom .navbar-form{ margin-top:4px; border: none;}
      .btn { padding: 6px 7px; }
      .width_F480 {
          width: 100%;
       }
      .Des_align_right {
          text-align: left;
          margin-top: 10px;
      }
      .Letf_M20 {
            margin-left: 0px;
            margin-top: 10px;
        }
    .non-saved-btn {
    padding:0;
    margin-top:15px;
    }
    .make-payment-btn {
margin-top:0;
padding:0;
}

        .make-payment-btn input[type="submit"], .non-saved-btn input[type="submit"], .chek-make-payment input[type="submit"]{
        width:100%;
      -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.31);
box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.31);
        }
   .terms-mobile.btn-group, .terms-mobile.btn-group-vertical {
       display:block;
}
	 }

   ul.terms-mobile-textarea li{
        width:100%;
        height:100px;
        overflow-x:scroll;
    }
    ul.terms-mobile-textarea li a {
        white-space:inherit;
    }
.terms-mobile button {
        width:100%;
    }
.modal {
    top: 50px;
    z-index: 999999;
    }

    .error-msg{
        width: 100%;
        display: inline-block;
    }
    /*start code 14.05.18*/
    .custom-select{width:100% !important; }
    .custom-select > a.dropdown-toggle{
        padding: 0px 34px 14px 14px !important;
        height: 46px !important;
        line-height: 46px !important;
        border-radius:5px !important;
        }
        .no-padding{
        padding:0;}

        .form-horizontal{
        width:100%;
        float:left;
       }
        #login-wrapper .login-container{
        width:100%;
        padding:0px 10px;
        }
        .sign-up{
        float:left;
        width:100%;}

        #login-wrapper .login-container{
margin: 150px 0px 0 0;
        }

.ajax-loader-custom{background: #ffffff;
     height: 100vh;
     padding-top: 25%;}