﻿
    <!--Strat Main Container-->
    <div id="body-wrapper">
    <header class="fixed-head">
        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <!-- <div class="main-logo"></div>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            </div>
        </nav>
    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>Processing Credit Card</h4>
                <p class="sub-text error">{{message}}  Please Try Again!</p>
                <div class="row">
                    <div class="col-sm-12 text-right"><input type="button" value="Try Again" ng-click="clickCheckout();"  class="btn btn-success"></div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#/account">Return to Accounts</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  |  <a href="#/ReportIssue">Report Issue</a></p></div>
</div>
    <!--End Main container-->
   