﻿ #mainCaptcha {
            background: url(../img/captcha-bg.png);
            text-align: center;
            width: 200px;
            border: 2px solid #ccc;
            height: 80px;
            font-size: 23px;
            color: rgba(193, 193, 193, 0.64);
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 20px;
        }