﻿<div ng-if="ShowLoader" class="overLayGIF overLayGIF1">
    <div>
        <img class="div_img" src="~/../assets/img/32.gif" />
    </div>
</div> 
    <!--Strat Main Container-->
    <div id="body-wrapper">
        <header class="fixed-head">


            <!--Start Top Header-->
            <nav class="navbar navbar-default nav-custom">
                <div class="container menu-box">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                       <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                        <button type="button" class="" id="hamburger-inner-navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- <div class="main-logo"></div>-->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="inner-navbar">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#/account"><span class="menu-img"><i class="fa fa-user" aria-hidden="true"></i></span>Your Account</a></li>
                            <li><a ng-click="paymentHistory()"><span class="menu-img"><i class="fa fa-history" aria-hidden="true"></i></span>Payment History</a></li>
                            <li class="active"><a href="#/changeAc"><span class="menu-img"><i class="fa fa-cog" aria-hidden="true"></i></span>Change Account Info</a></li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div class="header-top">
                <div class="container">
                    <p class="top-content">{{storeINFO}}</p>
                    <div class="user-name float-R"><span class="user-box">{{userFLName}}</span><!--<input type="submit" value="Logout" class="logout" ng-click="logoutClick();"><i class="fa fa-sign-out" aria-hidden="true"></i>--></div>
                </div>
            </div>

        </header>
        <!--End Top Header-->
        <!--Start content-->
        <div class="main-container">
            <div class="content-wrapper">
                <div class="container page-inner">
                    <h4>Change web account information</h4>

                    <form name="changeAcForm" ng-submit="submit()" novalidate class="form-horizontal">

                        <div class="form-group">

                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : changeAcForm.oldPass.$invalid && !changeAcForm.oldPass.$pristine }">
                                <div class="">
                                    <label>Current Password ( Required )</label>
                                    <input type="password" ng-model="oldPass" name="oldPass" class="form-control" placeholder="" required>
                                </div>
                                <div ng-messages="changeAcForm.oldPass.$error" ng-if="changeAcForm.oldPass.$dirty">
                                  <div ng-message="required" class="error">Old Password is required.</div>
                                </div>
                       
                            </div>

                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : changeAcForm.newpass.$invalid && !changeAcForm.newpass.$pristine }">
                                <div class="">
                                    <label>New Password</label>
                                    <input type="password" name="newpass" id="newpass" ng-model="newpass" ng-maxlength="16" ng-minlength="6" class="form-control" placeholder="" >
                                </div>

                                <div ng-messages="changeAcForm.newpass.$error" ng-if="changeAcForm.newpass.$dirty">
                                   
                                    <div ng-message="minlength" class="error">New Password must have 6 characters.</div>
                                    <div ng-message="maxlength" class="error">New Password should not greator than 16 characters.</div>
                                </div>
                            </div>
                    
                        </div>


                        <div class="form-group">

                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : changeAcForm.retyPass.$invalid && !changeAcForm.retyPass.$pristine }">
                                <div class="">
                                    <label>Retype New Password</label>
                                    <input type="password" ng-model="retyPass" id="retyPass" data-pw-check="newpass" name="retyPass" class="form-control" placeholder="">
                                </div>


                                <div ng-messages="changeAcForm.retyPass.$error" ng-if="changeAcForm.retyPass.$dirty">

                                    <div ng-message="pwmatch" class="error">'New Password' and 'Retype New Password' do not match!</div>
                                </div>
                            </div>
                           
                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : changeAcForm.newUserName.$invalid && !changeAcForm.newUserName.$pristine }">
                                <div class="">
                                    <label>New User Name</label>
                                    <input type="text" ng-model="newUserName" name="newUserName" ng-minlength="8" ng-maxlength="30" ng-trim="false" ng-change="field = field.split(' ').join('')" class="form-control" placeholder="">
                                </div>

                                <div ng-messages="changeAcForm.newUserName.$error" ng-if="changeAcForm.newUserName.$dirty">                             
                                    <div ng-message="minlength" class="error">New Username must have 8 characters.</div>
                                    <div ng-message="maxlength" class="error">New Username should not greator than 30 characters.</div>
                                </div>
                            </div>



                           

                        </div>

                        <div class="form-group">

                            <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : changeAcForm.emailAdd.$invalid && !changeAcForm.emailAdd.$pristine }">
                                <div class="">
                                    <label>New Email Address</label>
                                    <input type="email" name="emailAdd" ng-model="emailAdd" class="form-control" placeholder="" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                </div>
                                <div ng-messages="changeAcForm.emailAdd.$error" ng-if="changeAcForm.emailAdd.$dirty">
                                    <div ng-message="pattern" class="error">Please enter a valid email.</div>
                                </div>

                            </div>

                            <div class="col-md-6 col-md-offset-6 col-sm-12 text-right">
                                <input type="submit" ng-disabled="((changeAcForm.oldPass.$invalid) || ((changeAcForm.newpass.$error.required!=true)? (changeAcForm.newpass.$invalid || changeAcForm.retyPass.$invalid) :false) || (changeAcForm.newUserName.$invalid) || (changeAcForm.emailAdd.$invalid))" value="SUBMIT" class="btn btn-success margin-top15">        
                            </div>
                          
                        </div>

                        <div id="dis1" class="error">{{message}}</div>
                        <div id="dis2" class="error">{{apiErrorMessage}}</div>

                    </form>


                </div>

            </div>
        </div>
        <div class="clear"></div>
        <div class="footer"><p>© Copyright 2016  |   <a href="#/ReportIssue">Report Issue</a></p></div>
    </div>
   