﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head id="headSection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
            display: none !important;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Inventory Story locator</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/style2.css" rel="stylesheet" />
    <link href="assets/css/bootstrap-datepicker.css" rel="stylesheet" />
    <style>
        :root {
            --main-bg-color: #999999;
        }
    </style>
</head>
<body id="mainBody" style="overflow: inherit;" ng-cloak>

    <div ng-controller="mainCtrl">
        <div ng-if="!Loaded" class="text-center ajax-loader-custom">
            <img src="assets/img/ajax-loader.gif" />
        </div>
        <div ng-show="Loaded">
            <div>
                <div class="menubar-bg"></div>

            <div class="home"><a href="../index.html"><img src="assets/img/home_icon.png" /></a></div>

                <div class="sidebar">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <ul class="menu">
                        <li class="Shopdisabled"><a href="../searchApp/index.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a></li>
                        <li><a href="#" ng-click="redirect('Payments')"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a></li>
                        <li><a href="../index.html?shop=true"><i class="fa fa-envelope" aria-hidden="true"></i>Messages</a></li>
                        <li><a href="#" ng-click="redirect('Settings')"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
                        <li><a href="../index.html?privacyPolicy=true" ><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>Privacy Policy</a></li>
                        <li><a href="../index.html?about=true"><i class="fa fa-cog" aria-hidden="true"></i>About</a></li>
                    </ul>
                </div>


                <div id="imageDiv" ng-if="ShowLoader" class="overLayGIF overLayGIF1">
                    <div>
                        <img class="div_img" src="~/../assets/img/32.gif"/>
                    </div>
                </div> 

                <div class="search-mob">

                    <div class="top-bar navbar-bg top-btm-sec" ng-show="isVisibleTopMenu">
                        <div class="brand-bg">
                            <a class="navbar-brand">
                               <!-- <img alt="Brand" src="assets/images/logo.png"> -->
                            </a>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="custom-nav">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <button type="button" class="btn btn-info" id="storeinfomation">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Store Info</span>
                                    </button>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="navbar-collapse" id="storeinfo">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="nav-item">
                                                <strong>Store: </strong> {{storeINFO}}
                                            </li>
                                            <li class="nav-item">
                                                <strong><i class="fa fa-phone"></i> </strong> {{phoneNo}}
                                            </li>
                                            <li class="nav-item">
                                                <strong><i class="fa fa-envelope"></i> </strong>{{EmaiAddress}}
                                            </li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->

                                </div>
                                <div ng-show="IsVisible" class="cart-count">
                                    <a type="button" ng-click="cart();"><span>Cart</span> <i class="fa fa-opencart cart" aria-hidden="true"><label class="cart-lebel">{{cartNumber}}</label></i></a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div ui-view class="fixed-view-section">
                </div>
                </div>
            </div>
        </div>
    <div class="footer-privacy" id="privacyDiv" ng-if="privacyPolicyEnable">
        <center><p>By using this app you agree to our <a ng-click="redirectPrivacy()"> <u>Privacy Policy !</u>  &nbsp;&nbsp; </a><span class="fa fa-times" ng-click="removePrivacy()"></span> </p> </center>
    </div>

   <script src="assets/js/jquery-1.9.1.min.js"></script>
  
    <!-- Bootstrap tooltips
     Bootstrap core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.js"></script>
    <script src="app/js/angular.min.js"></script>
    <script src="app/js/angular-messages.js"></script>
    <script src="app/js/angular-ui-router.js"></script>
    <script src="app/js/angular-cookies.js"></script>
    <script src="app/js/SHA256.js"></script>
    <script src="app/js/utf8.js"></script>
    <script src="app/js/Base64.js"></script>
    <script src="app/js/payeezy_v3.2.js"></script>
    <script src="https://pubsub-test.idealss.net/faye/client.js"></script>
    <script src="../app/service/sharedService.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/idealsApiService.js"></script>
    <script src="app/services/crm_ordersApiService.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/startCtrl.js"></script>
    <script src="app/constants/constant.js"></script>
    <script src="app/controllers/searchCtrl.js"></script>
    <script src="app/controllers/searchNotFoundCtrl.js"></script>
    <script src="app/controllers/cartEmptyCtrl.js"></script>
    <script src="app/controllers/cartNotEmptyCtrl.js"></script>
    <script src="app/controllers/payDepositCtrl.js"></script>
    <script src="app/directives/yearDrop.js"></script>
    <script src="app/directives/allowPattern.js"></script>
    <script src="app/directives/restrictField.js"></script>
    <script src="app/filters/strLimit.js"></script>
    <script src="app/controllers/paySuccessCtrl.js"></script>
    <script src="app/controllers/payDeclineCtrl.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/custome_menu.js"></script>
    <script src="app/controllers/errorMsgCtrl.js"></script>
    <script src="app/filters/range.js"></script>
    <script src="app/directives/cardExpiration.js"></script>


</body>
</html>



