﻿<!--Strat Main Container-->
<div id="body-wrapper">
    <header class="fixed-head">
        <div class="header-top">
            <div class="container">
                <p class="top-content">{{storeINFO}}</p>
                <div class="user-name float-R"><span class="user-box">{{userFLName}}</span><input type="submit" value="Logout" class="logout" ng-click="logoutClick();"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
            </div>
        </div>

        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
               
                    <div class="main-logo"></div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/account"><span class="menu-img"><i class="fa fa-user" aria-hidden="true"></i></span>Your Account</a></li>
                        <li><a ng-click="PaymentHistory()"><span class="menu-img"><i class="fa fa-history" aria-hidden="true"></i></span>Payment History</a></li>
                        <li><a href="#/changeAc"><span class="menu-img"><i class="fa fa-cog" aria-hidden="true"></i></span>Change Account Info</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>Checkout</h4>
                <p class="sub-text"><strong>Payment Summary</strong></p>

                <div class="table-responsive grid_wrapper">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover grid-custom right_align_3 tablelayout" id="tblProducts">
                        <thead>
                            <tr>
                                <th width="20%">Amount Due</th>
                                <th width="20%">Description</th>
                                <th width="20%">Account Type</th>
                                <th width="20%">Account Number</th>
                                <th width="20%">Next Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="payments in payment">
                                <td title="Amount Due">${{payments.amountOfPayment}}</td>
                                <td title="Description">{{payments.itemDescription}}</td>
                                <td title="Account Type">{{payments.accountType}} &nbsp;</td>
                                <td title="Account Numbers">{{payments.accountID}} &nbsp;</td>
                                <td title="Next Due Date">{{payments.nextDueDate| date:'MM/dd/yyyy'}} &nbsp;</td>
                            </tr>
                        </tbody>
                        <tfoot>

                            <tr>
                                <td><span class="pull-left"><strong>Total</strong></span>  <span class="pull-right"><strong>{{total}}</strong></span></td>
                                <td colspan="4"></td>
                            </tr>

                        </tfoot>
                    </table>


                </div>

                <div class="payment-form">
                    <p class="sub-text">
                        Please Choose Option Below
                    </p>

                    <form role="form" class="row">
                        <div ng-show="IsVisible1" class="form-group mar-b-form-10 col-sm-12">
                            <!--<input type="submit" ng-click="clickNewCardInfo();" value="Enter Card Information" class="btn btn-success min-width176">-->
                            <input type="submit" ng-click="PayOptSubmit();" value="Enter Card Information" class="btn btn-success min-width176">
                          <!--    <input type="submit" id="myCrdInfo" value="Enter Card Information" class="btn btn-success min-width176"> Change by F-->                                                     
                            
                            <input type="submit" ng-click="clickSavedCard();" value="Use A Saved Card" class="btn btn-success min-width176 Letf_M20">
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  | <a href="#/ReportIssue">Report Issue</a>  |  Version {{ versionNo}}</p></div>
</div>
<!--End Main container-->
<!-- All Javascript include here for fast loading of page -->
