﻿
    <!--Strat Main Container-->
    <div id="body-wrapper">
    <header class="fixed-head">

        <div class="header-top">
            <div class="container">
                <p class="top-content">{{storeINFO}}</p>
                <div class="user-name float-R"><span class="user-box">{{userFLName}}</span><input type="submit" value="Logout" class="logout" ng-click="logoutClick();"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
            </div>
        </div>

        <!--Start Top Header-->
        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
               
                    <div class="main-logo"></div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/account"><span class="menu-img"><i class="fa fa-user" aria-hidden="true"></i></span>Your Account</a></li>
                        <li class="active"><a><span class="menu-img"><i class="fa fa-history" aria-hidden="true"></i></span>Payment History</a></li>
                        <li><a href="#/changeAc"><span class="menu-img"><i class="fa fa-cog" aria-hidden="true"></i></span>Change Account Info</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>
    <!--End Top Header-->
    <!--Start content-->
    <div class="main-container">
        <div class="content-wrapper">
            <div class="container page-inner">
                <h4>Payment History</h4>
                <p class="sub-text"></p>

                <div class="table-responsive grid_wrapper">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover grid-custom right_align width_1170 tablelayout" id="tblProducts">
                        <thead>
                            <tr>
                                <th>Account Type</th>
                                <th>Account Numbers</th>
                                <th>Payments</th>
                                <th>Frequency</th>
                                <th>Amount</th>
                                <th>Next Due Date</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="value in payHist">
                            <tr class="tr-info" style="background-color:lightgray">
                                <td colspan="6" class="td-info" title="">Date: {{value.paymentDate | date:'MM/dd/yy h:mm:ss a'}} | Rcpt: {{value.receiptNumber}}  {{value.paymentLocation}} -{{value.paymentMethod}}= {{value.totalAmount}}</td>
                                <!--<td class="disMobile" title="Account Info"><p>Date: {{value.paymentDate}} | Rcpt: {{value.receiptNumber}}  {{value.paymentLocation}} -Cash= {{value.totalAmount}} </p></td>-->
                            </tr>
                            <tr ng-repeat="details in value.accounts">
                                <td title="Account Type">{{details.accountType}}</td>
                                <td title="Account Numbers">{{details.accountID}}</td>
                                <td title="Payments">{{details.paymentsMade}}</td>
                                <td title="Frequency">{{details.paymentMode}}</td>
                                <td title="Amount">{{details.paymentAmount}}</td>
                                <td title="Next Due Date">{{details.nextDueDate | date:'MM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


                <div class="row">
                    <div class="col-xs-6 width_F480 top_M8">
                        <a href="#/account">Return to Accounts</a>
                    </div>
                    <div class="col-xs-6 width_F480 Des_align_right"><a href="#/printPayHist" class="btn btn-success">View Printable Form</a></div>
                </div>

            </div>

        </div>
    </div>
    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  |  <a href="#/ReportIssue">Report Issue</a>  |  Version {{ versionNo}}</p></div>
</div>
    <!--End Main container-->
   