﻿*{
	box-sizing:border-box;
}
body{
	font-size:14px;
	line-height:20px;
	margin:0px;
	padding:0px;
	color:#555555;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.pull-right{
	float:right;
}
.btn{
	background-color:#337ab7;
	border:none;
	color:#fff;
	line-height:44px;
	margin-top:2px;
	cursor:pointer;
	display:block;
	width:100%;
	border-radius:3px;
	font-size:0.90rem;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:1px;
}
.btn:hover{
	background-color:#4f96d3;
}
/******************** CHAT PAGE *************************/
.m-t-20{
	margin-top:20px;
}
.p-l-r-10{
	padding-left:10px;
	padding-right:10px;
}
.p-l-r-20{
	padding-left:20px;
	padding-right:20px;
}
.page-container{
	max-width:600px;
	margin:0px auto;
	padding:10px 20px 0px 20px;
}
.block-area {
    width: 100%;
    background: #fff;
	position:relative;
	box-shadow: 1px 1px 12px #bbb;
}
.chat-icon{
	position:absolute;
	top:15px;
	left:15px;
	z-index:1;
}
h1 {
    background-color:#33a7e3;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0;
    padding: 10px 10px 10px 45px;
    position: relative;
}
.block-area .chat-view-block{
    bottom: 100px;
    overflow: auto;
    padding: 0px;
    position: absolute;
    top: 52px;
    width: 100%;
	bottom:70px;
}
.row-block {
    overflow: hidden;
    width: 100%;
}
.chat .profile-image{
	width:50px;
	height:50px;
	border-radius:50%;
	float:left;
	border:solid 1px #ddd;
	overflow:hidden;
}
.chat{	
	display:inline-block;
	width:100%;
	padding:10px 15px;
	position:relative;
}
.chat:hover{
	background-color:#eee;
}
.chat:after{
	position:absolute;
	content:"";
	bottom:-1px;
	height:1px;
	left:15px;
	right:15px;
	background-color:#eee;
}
.chat:hover:after{
	bottom:0px;
}
.chat:last-child:after{
	border:0px;
	background:none;
}
.chat .profile-image img{
	max-width:100%
}
.chat p{
	padding-left:5px;
	margin:0px 0px 6px 0px;
}


.block-area .text-block {    
    bottom: 0px;
    box-sizing: border-box;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
	overflow:auto;
	padding:10px;
	background-color:#f5f5f5;
}
.block-area .input-block{
	width:85%;
	float:left;
}
.block-area .text-entry {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    border-radius: 3px;
	resize: none;
	border:solid 1px #ddd;
	padding:2px 5px;
	font-family: "Roboto",sans-serif;
	font-size:1rem;
}
.button-div{
	width:14%;
	float:right;
}
span.name-title {
    font-weight: bold;
}
.sender-title {font-weight:bold; padding-left:5px; border-left:2px solid rgba(79, 150, 211, 0.50);   border-top:2px solid rgba(79, 150, 211, 0.50); color:#33a7e3;}

.receiver-title {font-weight:bold; padding-right:5px; border-right:2px solid rgba(104, 193, 50, 0.50); border-top:2px solid rgba(104, 193, 50, 0.50); color:#68c132;}

span.name-title:before {
    border-left: 2px solid #f00;
    height: 15px;
    position: absolute;
    left: 15px;
}
@media screen and (max-width: 480px){
	.block-area .input-block{
		width:75%
	}
	.button-div{
		width:23%;
		float:right;
	}
	
}
