﻿
<div class="panel-group category-products description" >
    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-5 col-md-7">
                <label>Item</label>
                <fieldset>

                    <input type="checkbox" class="filled-in" id="checkbox2" ng-model="ChkNewItem" ng-change="ClickNewItem(ChkNewItem);">
                    <label for="checkbox2">New Only</label>
                </fieldset>
            </div>
            <div class="col-sm-7 col-md-5">
                <label class="control-label col-sm-4 col-md-3">Sort by</label>
                <div class="col-sm-8 col-md-9">
                    <div class="row">
                        <select class="form-control" ng-model="selectedRange" ng-change="selectRange(selectedRange)">
                            <option>Cash Price Low to High</option>
                            <option>Cash Price High to Low</option>
                            <option>Weekly Rate Low to High</option>
                            <option>Weekly Rate High to Low</option>
                            <option>Monthly Rate Low to High</option>
                            <option>Monthly Rate High to Low</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </form>

 
    <div class="overflowprod">
        <div id="itemsDetail" ng-repeat="data in inventoryList | orderBy:filter" class="row bdrbtm">
            <div class="col-md-12">
                <h3 class="title">Brand Model Description</h3>
                <p><strong>Attribute :</strong>{{data.attribute }}</p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7"><div class="media"><img src="" /></div></div>
                    <div class="col-md-5 pricelist">
                        <h3 class="title">Model : {{data.modelNumber }}</h3>
                        <ul class="listcost">
                            <li><small>Cash Price:</small><h3>${{data.price }}</h3></li>
                            <li><small>Weekly Rate:</small><h3>${{data.weeklyRate }}</h3><small>Own in 52 weeks</small></li>
                            <li><small>Monthly Rate:</small><h3>${{data.monthlyRate }}</h3><small>Own in 12 months</small></li>
                        </ul>
                        <div class="mt-2">
                            <a type="button" data-ng-click="selectitem(data);" class="btn-primary addcart">Add to Cart</a>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






 
       


