﻿

<div class="top-bar navbar-bg">
	<div class="brand-bg">        
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../assets/images/logo.png">
      </a>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="custom-nav">
               	<button type="button" class="btn btn-info" id="storeinfomation">                   
                	<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Store Info</span>
           		</button>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse" id="storeinfo">
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                   <strong>Store: </strong> Departmental Store,  91/2 Street,  Florida, ST, 00121042</span>
                  </li>
                  <li class="nav-item">
                    <strong><i class="fa fa-phone"></i> </strong> (555) 555-5555 </span>
                  </li>
                  <li class="nav-item">
                    <strong><i class="fa fa-envelope"></i> </strong> departmental_store@xyz.com</span>
                  </li>
              </ul>
            </div><!-- /.navbar-collapse -->
           
            </div>
            
            <div class="cart-count">
                <i class="fa fa-opencart cart" aria-hidden="true"><label class="cart-lebel">00</label></i>
            </div>
         
        </div>
    </div>
    
</div>



<div class="container-fluid mt-2">
	
	<div class="panel panel-default htfull">
    	<div class="row">
        	<div class="col-md-5">
            	<h4 class="title">Customer Information</h4> 
        		<div class="well">
                    <p>(555) 555-5555</p>
                    <p><strong>Andrew Desilwa</strong></p>
					<p>Departmental Store, 91/2 Street, Florida, ST, 00121042</p>
					<p>departmental_store@xyz.com </p>
                </div>    	
            </div>
            
            <div class="col-md-5">
            	<h4 class="title">Payment Information</h4> 
        		<div class="well">
                    <p>Approval Code: <strong>OK629C</strong> </p>
                    <p>Amount Paid: <strong>$599.99</strong></p>
					<p>Payment Reciept Numner : <strong>RE342#</strong></p>
					<p><small>customercare@xyz.com if any Query</small></p>
                </div> 
            </div>
        </div>
        
     <hr/>
    		

        	<div class="row">
                <div class="col-md-12">
                    <h3 class="title">Pay Deposit on these items</h3>                
                </div>
                <div class="col-md-12 cart-list">            
                    <table>
                          <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th colspan="3">Weekly</th>
                              <th colspan="3">Monthly</th>
                              <th></th>
                            </tr>
                            <tr>
                              <th><span>Model Number</span></th>
                              <th><span>Description</span></th>
                              <th><span>Term</span></th>
                              <th><span>Rate</span></th>
                              <th><span>Term x Rate</span></th>
                              <th><span>Term</span></th>
                              <th><span>Rate</span></th>
                              <th><span>Term x Rate</span></th>
                              <th><span>Cash Price</span></th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-label="Model Number">XBR-55X850D</td>
                              <td data-label="Description">Brand Modal Description</td>
                              <td data-label="Weekly"></td>
                              <td data-label="Term">52</td>
                              <td data-label="Rate">$19.99</td>
                              <td data-label="Term x Rate">$1039.48</td>
                              <td data-label="Monthly"></td>
                              <td data-label="Term">12</td>
                              <td data-label="Rate">$79.99</td>
                              <td data-label="Term x Rate">$959.88</td>
                              <td data-label="Cash Price">$599.99</td>
                            </tr>
                           
                          </tbody>
                        </table>
                    
                </div>
            </div>
            
            <div class="row mt-3">
				<div class="col-md-12">
                    <h3 class="title">Thank you for your business!!</h3>                
                </div>
            </div>
            
			<div class="row mt-2">
				<div class="col-sm-12">
					<button class="btn btn-warning pull-right">Search for more items</button>
					<button class="btn btn-primary pull-left"> Print Reciept</button>
				</div>
			</div>
	       
    </div>

	
</div>

