﻿

<div class="top-bar navbar-bg">
	<div class="brand-bg">        
      <a class="navbar-brand" href="#">
          <img alt="Brand" src="../assets/images/logo.png">
      </a>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="custom-nav">
               	<button type="button" class="btn btn-info" id="storeinfomation">                   
                	<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Store Info</span>
           		</button>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse" id="storeinfo">
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                   <strong>Store: </strong> Departmental Store,  91/2 Street,  Florida, ST, 00121042</span>
                  </li>
                  <li class="nav-item">
                    <strong><i class="fa fa-phone"></i> </strong> (555) 555-5555 </span>
                  </li>
                  <li class="nav-item">
                    <strong><i class="fa fa-envelope"></i> </strong> departmental_store@xyz.com</span>
                  </li>
              </ul>
            </div><!-- /.navbar-collapse -->
           
            </div>
            
            <div class="cart-count">
                <i class="fa fa-opencart cart" aria-hidden="true"><label class="cart-lebel">00</label></i>
            </div>
         
        </div>
    </div>
    
</div>



<div class="container-fluid mt-2">
	<div class="row">
        <div class="col-md-12">
            <h3 class="title">Processing Credit Card</h3>                
        </div>
        
        <div class="col col-sm-12">
            <div class="message-cart">
                <div class="icon">
                    <i class="fa fa-exclamation-triangle cart" aria-hidden="true"></i>
                </div>
                <div class="msg-text">
                	<div class="alert alert-danger" role="alert">                    
                    	<p><strong>Transaction was not successful!</strong> <br> 
                        	<strong>Declined transaction:</strong> The transaction is declined. Please try again!</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-default">Try Again </button>
                            <button class="btn btn-warning">Continue Shoping </button>
                            <button class="btn btn-primary">Back to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

