﻿<div class="container-fluid mt-2">
    <div class="row">
        <div class="col col-sm-3">
            <div class="panel panel-default" id="filtercategory">
                <a href="" class="linkcollapse"><i class="fa fa-filter"></i> Filter Categories </a>
            </div>
            <div class="panel-group category-products filtercollapse" id="accordian">
                <!--category-productsr-->
                <h5 class="heading">Categories</h5>

                <div class="col-sm-12 pdt-2">
                    <div class="form-group">
                        <label class="control-label">Product</label>                    
                        <select ng-model="selectedProduct" class="form-control" ng-options="item.description for item in Description track by item.description">
                            <option value="">ALL</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Brand</label>
                        <select ng-model="selectedBrand" class="form-control" ng-options="item.brand for item in Brands track by item.brand">
                            <option value="">ALL</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Model</label>
                        <select ng-model="Modl.selectedModelNumber" class="form-control" ng-options="Modl.modelNumber for Modl in ModelNumber track by Modl.modelNumber" ng-selected="getBudgetItems(Modl.selectedModelNumber.modelNumber)">
                            <option value="">ALL</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label class="control-label">Cash Price</label>
                        <select ng-model="selectedPrice" class="form-control" ng-options="item.price for item in Price track by item.price">
                            <option value="">ANY</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Weekly Rate</label>
                        <select ng-model="selectedWeeklyRate" class="form-control" ng-options="item.weeklyRate for item in WeeklyRates track by item.weeklyRate">
                            <option value="">ANY</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Monthly Rate</label>
                        <select ng-model="selectedMonthlyRate" class="form-control" ng-options="item.monthlyRate for item in MonthlyRates track by item.monthlyRate">
                            <option value="">ANY</option>
                        </select>
                    </div>


                </div>


                <div class="panel panel-default">
                    <div class="panel-footer">
                        <div class="row">
                            <button type="button" ng-click="reset();" class="btn btn-primary pull-left">Reset</button>
                            <button type="button" ng-click="refineSearch(Modl.selectedModelNumber);" class="btn btn-warning pull-right">Refine Search </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div ui-view="" id="itemDetails" class="col col-sm-9">
          
        </div>
    </div>
</div>
<script src="../assets/js/custom2.js"></script>