*{
	box-sizing:border-box;
}

body{
	font-size:14px;
	line-height:20px;
	margin:0px;
	padding:0px;
	color:#555555;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.pull-right{
	float:right;
}
.btn{
    background-color: var(--main-bg-color);
	/*background-color:#337ab7;*/
	border:none;
	color:#fff;
	line-height:33px;
	margin-top:2px;
	cursor:pointer;
	display:block;
	width:100%;
	border-radius:3px;
	font-size:1.2rem;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:1px;
}
.btn:hover{
	background-color:#4f96d3;
}
/******************** CHAT PAGE *************************/
.m-t-20{
	margin-top:20px;
}
.p-l-r-10{
	padding-left:10px;
	padding-right:10px;
}
.p-l-r-20{
	padding-left:20px;
	padding-right:20px;
}

.page-container{
	width:100%;
	margin:0px auto;
	padding:60px 20px 0px 20px;
}
.block-area {
    background: #fff;
    position:fixed;
    top:105px;
    bottom:0;
    left:0;
    right:0;
}
.chat-icon{
	position:absolute;
	top:8px;
	left:15px;
	z-index:1;
}
h1 {
    background-color:#33a7e3;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0;
    padding: 10px 10px 10px 45px;
    position: relative;
}
.block-area .chat-view-block{
    overflow: scroll;
    padding: 0px;
    position: absolute;
    top:5px;
    width: 100%;
    /*height: calc(100% - 128px);*/
    bottom:76px;
/*    overflow-x:hidden;
    overflow-y:scroll; */
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 7px;
}
::-webkit-scrollbar:horizontal {
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 8px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ffffff;
}
.row-block {
    overflow: hidden;
    width: 100%;
}
.chat .profile-image{
	width:50px;
	height:50px;
	border-radius:50%;
	float:left;
	border:solid 1px #ddd;
	overflow:hidden;
}
.chat{
	display:inline-block;
	width:100%;
	padding:0 8px;
	position:relative;
}
.chat:hover{
	background-color:#eee;
}
.chat:after{
	position:absolute;
	content:"";
	bottom:-1px;
	height:1px;
	left:15px;
	right:15px;
	background-color:#eee;
}
.chat:hover:after{
	bottom:0px;
}
.chat:last-child:after{
	border:0px;
	background:none;
}
.chat .profile-image img{
	max-width:100%
}
.chat p{
	padding-left:5px;
	margin:0px 0px 6px 0px;
}


.block-area .text-block {
    bottom: 0px;
    box-sizing: border-box;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
	overflow:auto;
	padding:10px;
	background-color:#f5f5f5;
}
.block-area .input-block{
	width:85%;
	float:left;
}
.block-area .text-entry {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    border-radius: 3px;
	resize: none;
	border: solid 1px #9CA4A7;
	padding:2px 5px;
	font-family: "Roboto",sans-serif;
	font-size:1rem;
    margin-top:2px;
}
.button-div{
	width:14%;
	float:right;
}
span.name-title {
    font-weight: bold;
}
.sender-title {font-weight:bold; padding-left:0px; border:0; color:#33a7e3;}

.receiver-title {font-weight:bold; padding-right:5px; color:#68c132;}
.receive{
background:#E5EAE9;
border-radius:5px;
margin:3px 0;
padding:7px 5px;
}
.msg-send{
background:#E9F1F1;
border-radius:5px;
margin:3px 0;
padding:7px 5px;
}
span.name-title:before {
    border-left: 2px solid #f00;
    height: 15px;
    position: absolute;
    left: 15px;

}

/*04-04-2017 message-home-page*/
.mess-home-main-sec { margin-top: 40%; border: 1px solid #ccc; padding: 0;}
.clse-head-btn {background-color: #4f96d3;display:inline-block;width: 100%;padding: 10px 15px;text-align:right;color:#fff;font-size: 22px;cursor:pointer;}
.clse-head-btn fa{text-align:right;}
.mes-text-main{display:table;width:100%; min-height: 200px;}
.mes-text-main p{display:table-cell;width:100%;padding: 15px;text-align:center;margin:auto;color:#333;font-size:20px;vertical-align: middle;}

/*---------*/

 /*24-05-2017*/
 .block-area .input-block.text-area-sec{width:82%!important;}

 .send-btn {
     font-size:20px;
 }
.tab-nav-sec{display: -webkit-box;width:100%;overflow-x:auto; overflow-y:hidden;}
.nav-tabs>li {
    float: none;}

 @media screen and (max-width: 480px){
 	.block-area .input-block{
 		width:75%
 	}
 	.button-div{
 		width:15%;
 		float:right;
 	}

 }
