/* YOUR CUSTOM STYLES */

@font-face{font-family:Roboto;src:local(Roboto Thin),url(../fonts/roboto/Roboto-Thin.eot);src:url(../fonts/roboto/Roboto-Thin.eot?#iefix) format("embedded-opentype"),url(../fonts/roboto/Roboto-Thin.woff2) format("woff2"),url(../fonts/roboto/Roboto-Thin.woff) format("woff"),url(../fonts/roboto/Roboto-Thin.ttf) format("truetype");font-weight:200}@font-face{font-family:Roboto;src:local(Roboto Light),url(../fonts/roboto/Roboto-Light.eot);src:url(../fonts/roboto/Roboto-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/roboto/Roboto-Light.woff2) format("woff2"),url(../fonts/roboto/Roboto-Light.woff) format("woff"),url(../fonts/roboto/Roboto-Light.ttf) format("truetype");font-weight:300}@font-face{font-family:Roboto;src:local(Roboto Regular),url(../fonts/roboto/Roboto-Regular.eot);src:url(../fonts/roboto/Roboto-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/roboto/Roboto-Regular.woff2) format("woff2"),url(../fonts/roboto/Roboto-Regular.woff) format("woff"),url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");font-weight:400}@font-face{font-family:Roboto;src:url(../fonts/roboto/Roboto-Medium.eot);src:url(../fonts/roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/roboto/Roboto-Medium.woff2) format("woff2"),url(../fonts/roboto/Roboto-Medium.woff) format("woff"),url(../fonts/roboto/Roboto-Medium.ttf) format("truetype");font-weight:500}@font-face{font-family:Roboto;src:url(../fonts/roboto/Roboto-Bold.eot);src:url(../fonts/roboto/Roboto-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/roboto/Roboto-Bold.woff2) format("woff2"),url(../fonts/roboto/Roboto-Bold.woff) format("woff"),url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");font-weight:700}

html, body {
	height:100%;
	min-height:100%;
	margin:0;
	padding:0;
}
body {
	background:#efeff0;
	font-family:Roboto,sans-serif;
}
btn, button, a{transition:0.5s;}

ul, li{ list-style:none;}
label {
    font-weight: normal;
}
.navbar-bg {
    background: #ffffff;
    margin: 0;
    position: relative;
    z-index: 2;
    padding: 0;
    border: 0px solid;
	height: 100px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}
/*
.paysuccess {
    font-size:20px;
    text-transform:uppercase;
    color:#3975b1;
    font-weight:600;
}

.custinfo {
    font-size:20px;
    text-transform:uppercase;
    color:#3975b1;
    font-weight:600;
}


.payinfo {
    font-size:20px;
    text-transform:uppercase;
    color:#3975b1;
    font-weight:600;
}

.payDepost {
    font-size: 18px;
    text-transform:uppercase;
    color: #3975b1;
    font-weight: 600;
}

.thnksfor {
    font-size:20px;
    text-transform:uppercase;
    color:#3975b1;
    font-weight:600;
}
*/
.brand-bg {
    background: #fff;
    float: left;
    height: 100px;
    margin: 0;
    padding: 0 10px;
    width: 210px;
	position:absolute;
	left:0;
	top:0;
	z-index:3;
}
.navbar-brand {
     background: url() no-repeat center 2px;
    float: left;
    font-size: 18px;
    height: 80px;
    line-height: 20px;
    padding: 3px 0;
    width: 100%;
    background-size: contain;
    z-index: 999;
}
.custom-nav {
	width:100%;
	border-bottom: 1px solid #efeff0;
	float:right;
}
.custom-nav .btn {display:none;
	font-size: 1.4rem;
	padding: 1rem 2rem 1rem 2rem;
	border-radius: 25px;
	float: right;
	margin: 15px;
	outline:0 none;
}
.custom-nav ul.navbar-nav {
    float: right;
	margin-right: 0;
}
.custom-nav li {
	padding: 6px 15px;
	border-right: 1px solid #efeff0;
	display:inline-block;
	color:#393939;
	font-size: 16px;
	font-weight: 400;
}
.custom-nav li:last-child {
	border-right: 0px solid #efeff0;
}
.custom-nav li i {
	margin-right: 5px;
}

.cart {
	width: 80px;
	color: #ef6c00;
	font-size: 58px;
	line-height: 58px;
	position: relative;
	top: 2px;
    right: 0;
    cursor: pointer;
}


.cart .cart-lebel {
	position: absolute;
    top: 3px;
    left: 0;
    right: 15px;
    text-align: center;
    color: #000;
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}
.cart-count {float: right;padding: 2px 15px 0 0;position: relative;cursor: pointer;}
.cart-count a {text-decoration: none;font-size: 18px;line-height: normal;position: absolute;right: 15px;top: 0;cursor: pointer;}
.cart-count a span {position: absolute;left: -29px;top: 42%;color: #000; font-weight: bold;}

.heading {font-size:16px; font-weight:500; color:#32394d; padding:5px 15px 15px; margin-bottom:2px;}
.heading a {float:right; color:#ef6c00;}
.category-products {
	background:#fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 35px;
    padding-bottom: 10px;
    padding-top: 0px;
	float: left;
    height: auto;
	width:100%;
}
.category-products .panel {
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 0px;
}
.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
	border-top:1px solid #ecf1f5;
}
#filtercategory {padding: 10px 0;/* display:none;*/}
#filtercategory a.linkcollapse { color:#ef6c00; text-decoration:none;font-size:16px; font-weight:500; padding:15px; margin:10px 0;}
.category-products .panel-default .panel-heading a {
    color: #32394d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
	font-weight: 400;
	line-height: 2.2rem;
	display: block;
    padding: 6px 0;
}
.category-products .badge {
    background: none;
    border-radius: 10px;
    color: #32394d;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0 none;
}
.panel-body ul {
    padding-left: 20px;
}
.panel-body ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
	padding: 8px 0;
	display:block;
}

.description {
    display: block;
    padding: 15px;
}
.description fieldset {
    display: inline-block;
	position: relative;
}
.category-products label, .description label {
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px 0 0;
	float:left;
}
.category-products label {
    font-size: 15px;
}
.description p {color: #7a7c81;}
.description .media {background: #2e343d; min-height:180px; border-radius:5px;}
.description .media img {width: 100%;border: 1px solid #ccc;}

.description .pricelist h3 {margin-top:0;}

.description .pricelist ul.listcost {
    border-color: #ecf1f5;
    border-style: solid;
    border-width: 1px 0;
    padding: 10px;
}
.description .pricelist ul.listcost li {text-align:center; font-size:12px;color: #7a7c81; padding:0 10px; display:inline-block; vertical-align: top;}
.description .pricelist ul.listcost li:nth-child(2) {border-left: 1px solid #ecf1f5; border-right: 1px solid #ecf1f5;}
.description .pricelist ul.listcost li h3 {font-weight:normal; color:#32394d; margin:10px 0; margin-bottom:8px;}
.description .pricelist ul.listcost li:first-child h3 { color:#03a20f; font-weight:400;}

.description .pricelist a {color: #fff; text-decoration:none; font-size:16px; font-weight:500;}
.addcart { text-transform: uppercase;padding-left: 30px; position: relative; line-height: 38px; padding: 10px 30px 8px 42px; border: 1px solid #337ab7; cursor: pointer;  transition: 0.5s;}
.addcart:hover {background-color:#2e343d;color:#fff;}
.description .pricelist a:hover {color:#fff;}
.addcart:before { content: ''; position: absolute; left: 8%; top:-2px;background: url(../images/add_cart1.png) left center no-repeat;background-size: 20px 20px; width: 19px; height: auto;bottom: 0;margin: auto;}
.addcart-arrow { text-transform: uppercase;padding-left: 30px; position: relative; line-height: 38px; padding: 10px 30px 8px 42px; border: 1px solid #337ab7; cursor: pointer;  transition: 0.5s;}
.addcart-arrow:hover {background-color:#2e343d;color:#fff;}
.addcart-arrow:before { content: '\2713'; position: absolute; left:10%; top:0px;width: 19px; height: auto;bottom: 0;margin: auto;font-size: 23px;font-weight: bold;}
.top-head-card {display: inline-block;transition: 0.5s; color: #fff; background-color: #286090; border: 1px solid #286090; padding: 8px 14px;vertical-align: top;  margin-top: 13px;line-height: 18px; border-radius: 5px;}
.top-head-card:hover{background-color:#2e343d;color:#fff;}


.btn-warning {background-color: #ef6c00;border-color: #eea236;color: #fff;}
.description .pricelist .btn.btn-warning {padding:10px 30px;}
.description .pricelist .btn .fa {margin-left: 10px;}

.overflowprod {
	min-height:450px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-cart { float:none; margin:6% auto; width:100%; max-width:700px; border:1px solid #d3d3d3; background:#fff; box-shadow:0 0 10px rgba(0,0,0,0.3);padding:0; display:table;}
.message-cart .icon {display:table-cell; vertical-align:middle; text-align:center; width:30%;}
.message-cart .msg-text {display:table-cell; vertical-align:middle; text-align:left; width:100%; padding:20px; font-size:16px;}
.message-cart .icon .cart {font-size: 18vh;width: 100%;}
.message-cart .msg-text ul {padding-left:10px;}
.message-cart .msg-text li {padding-left: 30px;position: relative;}
.message-cart .msg-text li:before {content:"\f00c"; font-family:'FontAwesome'; position:absolute; left:0; color: #ef6c00;}
/*color:#a94442;*/
.error{color:red; font-size:13px; line-height:21px; font-weight:normal}

.btn {min-width:60px; padding: 10px 30px;margin: 4px 0;}
.form-inline.description input[type="checkbox"] {
    margin-right: 8px;
}
.description label.control-label {
    padding-top: 4px;
	margin-bottom:5px;
}
[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    left: -9999px;
    position: absolute;
    visibility: hidden;
}
.filled-in[type="checkbox"] + label::after {
    border-radius: 2px;
}
.filled-in[type="checkbox"] + label::after, .filled-in[type="checkbox"] + label::before {
    content: "";
    left: 0;
    position: absolute;
    transition: border 0.25s ease 0s, background-color 0.25s ease 0s, width 0.2s ease 0.1s, height 0.2s ease 0.1s, top 0.2s ease 0.1s, left 0.2s ease 0.1s;
    z-index: 1;
}
.filled-in[type="checkbox"]:not(:checked) + label::after {
    background-color: transparent;
    border: 2px solid #5a5a5a;
    height: 20px;
    top: 0;
    width: 20px;
    z-index: 0;
}
[type="checkbox"] + label::before {
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    content: "";
    height: 18px;
    left: 0;
    margin-top: 2px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 18px;
    z-index: 0;
}
.filled-in[type="checkbox"] + label::after, .filled-in[type="checkbox"] + label::before {
    content: "";
    left: 0;
    position: absolute;
    transition: border 0.25s ease 0s, background-color 0.25s ease 0s, width 0.2s ease 0.1s, height 0.2s ease 0.1s, top 0.2s ease 0.1s, left 0.2s ease 0.1s;
    z-index: 1;
}
.filled-in[type="checkbox"]:not(:checked) + label::before {
    border: 3px solid transparent;
    height: 0;
    left: 6px;
    top: 10px;
    transform: rotateZ(37deg);
    transform-origin: 100% 100% 0;
    width: 0;
}
[type=checkbox].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #33a7e3;
    background-color: #33a7e3;
    z-index: 0;
}
.filled-in[type="checkbox"]:checked + label::before {
    border-color: transparent #fff #fff transparent;
    border-style: solid;
    border-width: 2px;
    height: 13px;
    left: 1px;
    top: 0;
    transform: rotateZ(37deg);
    transform-origin: 100% 100% 0;
    width: 8px;
}

[type="checkbox"]:checked + label::before {
    backface-visibility: hidden;
    border-color: transparent #4285f4 #4285f4 transparent;
    border-style: solid;
    border-width: 2px;
    height: 22px;
    left: -3px;
    top: -4px;
    transform: rotate(40deg);
    transform-origin: 100% 100% 0;
    width: 12px;
}
.filled-in[type="checkbox"]:not(:checked) + label::after,
.filled-in[type="checkbox"]:checked + label::after,
.filled-in[type="checkbox"]:checked + label::before {
    top: 1px;
}

[type="checkbox"] + label, [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    padding-left: 30px;
}

.container, .container-fluid {z-index:1;}
.search-bar {
    background-color: var(--main-bg-color);
    padding-top:20px;
    padding-bottom: 4px;
}

.form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 6px;
    text-align: right;
}
.search-bar label {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
	padding-top: 5px;
}

.search-bar .input-group-btn .btn {
    background: #2e343d none repeat scroll 0 0;
    color: #fff;
    border: 1px solid #2e343d;
	text-transform:uppercase;
	font-weight:normal;
	padding: 6px 15px;
	margin: 0;
    opacity:100;
}
.search-bar .input-group-btn > .btn .fa {
    margin-right: 5px;
}
.filtercollapse {display:block;}

.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.pdt-2 {padding-top:15px;}
.bdrbtm {border-bottom:1px solid #CCC; padding-bottom:25px; margin-bottom:20px;}

  .cart-list table {
    /*border: 1px solid #ccc;*/
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .cart-list table tr {
    /*border: 1px solid #ddd;*/
    padding: 5px;
  }

  .cart-list  table th, .cart-list table td {
    padding: 10px;
    text-align: left;
  }

  .cart-list  table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
	padding:5px 5px;
  }
  .cart-list  table th span {border-bottom:1px solid #ddd; display: block;
    padding-bottom: 5px;
    text-align: left;}

  .cart-list  table th:nth-child(3),
  .cart-list  table th:nth-child(4),
  .cart-list  table th:nth-child(5) {padding:5px;}
  .cart-list  table th:nth-child(5) {padding:5px 10px 5px 0 ;}

  .cart-list  table th:nth-child(6),
  .cart-list  table th:nth-child(7),
  .cart-list  table th:nth-child(8) {padding:5px;}
  .cart-list  table th:nth-child(8) {padding:5px 10px 5px 0 ;}

  .cart-list  table tbody tr td:nth-child(2),
  .cart-list  table tbody tr td:nth-child(6) {display:none;}
  .cart-list  table tbody tr td:nth-child(4),
  .cart-list  table tbody tr td:nth-child(5),
  .cart-list  table tbody tr td:nth-child(8),
  .cart-list  table tbody tr td:nth-child(9),
  .cart-list  table tbody tr td:nth-child(10) {text-align:right;}
  .cart-list  table th:nth-child(3), .cart-list  table th:nth-child(2) {text-align:center;}
.fa.fa-close {color:#f00; font-size:22px;}
.panel-default {padding: 10px 15px;}
.htfull{height:100%; max-height:100%; overflow:auto;}
.panel-group .panel-footer {
    border-top: 1px solid #ddd;
    background-color: transparent;
}

.ft12{font-size:12px;}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .panel-body {background:#eef1ec;}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.total-Deposit {font-size:14px; font-weight:500; text-transform:uppercase;}
.total-Deposit span {color:#396; font-size:20px;}
.tprice {color:#396; font-size:24px; margin-left:30px}

.form-fill .panel-body {padding:15px 8px;}
.form-fill .panel-body .row {margin-left:-4px; margin-right:-4px;}
.form-fill .panel-body .row .form-group {margin-bottom:8px;}
.form-fill .panel-body .row .col-md-1,
.form-fill .panel-body .row .col-md-2,
.form-fill .panel-body .row .col-md-3,
.form-fill .panel-body .row .col-md-4,
.form-fill .panel-body .row .col-md-5,
.form-fill .panel-body .row .col-md-6,
.form-fill .panel-body .row .col-md-7,
.form-fill .panel-body .row .col-md-8,
.form-fill .panel-body .row .col-md-9,
.form-fill .panel-body .row .col-md-10,
.form-fill .panel-body .row .col-md-11,
.form-fill .panel-body .row .col-md-12 {padding-left:4px; padding-right:4px;}


.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox>input {
    height: 2.3em;
    line-height: 2em;
    padding: 0.4em 0 0;
    text-indent: .33em;
    border: 0;
    margin: 0;
}



.overLayGIF
{position:absolute;top:0;left:0;bottom:0;right:0;z-index:9999;background-color: rgba(0, 0, 0, 0.15);height:100%;width:100%;align-content:center;}

.div_img{ position:absolute;top:50%;left:50%;margin:-50px;margin-top:45px;margin-left:0px;margin-bottom:10px;margin-right:0px;}


.overLayGIF1 { position:fixed;}

.ui-datepicker {z-index:10!important;}
.form-fill .panel-body .act_row {margin-left: -15px;margin-right: -15px;margin-bottom:10px;}
.p-r-5 {padding-right:5px;}
.p-l-5 {padding-left:5px;}
.qty-list { width: 60px; padding: 4px 6px; border-radius: 3px;}
#cardInfoDetail {margin-bottom:0;}
/* CSS for Chat css */
.chat-popup {
    width: 280px;
    height: 350px;
    position: fixed;
    bottom: -300px;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    border: 1px solid rgb(32, 112, 176);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: none;
    right:20px;
        background: #fff;
        z-index:10;
	
}
.chat-popup.active {
    bottom: 0px;
}
h1 {
    margin: 0;
    padding: 0 12px;
    font-size: 1.5rem;
    line-height: 4rem;
    background: #3b9be1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    background-color: rgb(46, 141, 199);
    position: relative;
    font-weight: normal;

}
.left-col, .right-col {
    background-color: #FFCC7F;
    padding: 12px 12px;
    width: auto;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    margin-bottom: 10px;
    font-size: 1.3rem;
    overflow: hidden;
    float: left;
}
.right-col {
    border-bottom-right-radius: 0;
    background-color: #9BD6FF;
    border-bottom-left-radius: 25px;
    float: right;
}
.chat-view-block, .text-block {
       padding: 10px;
    height: 190px;
    overflow: auto; padding: 10px;
}
.text-block {
    position: absolute;
    bottom: -85px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
}
.text-entry {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    border-radius: 3px;
}
.send-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 1.42857;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    color: #fff;
    background-color: #286090;
    float: right;
}
 .down {
       resize: none;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    cursor: pointer;
    background-image: url(https://a1.mylivechat.com/livechat2/images/sprite.png);
    background-repeat: no-repeat;
    background-position: -4px -52px;
    right: 13px;
    width: 16px;
    top: 10px;
    height: 16px;
}
.row-block {
width: 100%;
    overflow: hidden;
}
/* CSS for notification chat box */
.green-bg {
    background: #4CAF50;
}

/*07-11-2017*/
.top-bar.navbar-bg.top-btm-sec{position:fixed;left:0;right:0;width:100%; z-index:999998; bottom:0;top:60px;}
.add-to-cart-sec{padding-top:50px;}
/*.search-bar.form-horizontal.btm-page-search{padding-top:80px;}*/

.fixed-view-section{
    position:absolute;
    top:48px;
    bottom:0px;
    width:100%;
    overflow:auto;
    padding-top:80px;
}

@media (max-width: 1100px){
	.custom-nav li {padding: 4px 10px;font-size: 14px;}
}
@media (max-width: 991px){
	.navbar-header {
		float: right;
	}
	.navbar-bg {height: 80px;}	
	.brand-bg {top: 0px; height: 80px;}
	.brand-bg img {height: auto;
		margin: auto;
		max-height: 100%;
		max-width: 100%;
		padding: 0;
		width: auto;
	}
	.cart-count {float:right; display:inline-block;}
	
	.custom-nav {
		border-left: 1px solid #efeff0;
        border-bottom: 0px;
        float: right;
        width: auto;
        display: inline-block;
        padding: 0 12px 0 9px
	}
	
	.custom-nav .btn {
		display: block;
	}
	
	
	.custom-nav .btn .fa {font-size: 1.6rem; float:left; margin-right:10px;}
	
	.custom-nav .btn span {
		display: inline-block;
		float: left;
		text-transform: capitalize;
		line-height: 22px;
	}
	.navbar-collapse {
		display:none;
		background: #fff;
		left: 0;
		padding: 5px;
		position: fixed;
		top: 126px;
		width: 100%;
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
		
	}
	.custom-nav li {padding: 4px 10px;font-size: 13px;}
	.cart-count { padding:5px 15px 0 0;}
	
	.description .pricelist h3 {margin-top:20px;}
	.description .pricelist ul.listcost {
		margin: auto; text-align: center; width: 100%;
	}
	.message-cart .icon .cart {
		font-size: 8vh;
	}
	.cart-list table {
      border: 0;
    }

  .cart-list table thead {
      display: none;
    }

  .cart-list table tr {
      margin-bottom: 10px;
      display: block;
	  border: 1px solid #ddd;
      border-bottom: 2px solid #ddd;
    }

  .cart-list table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }
	

  .cart-list table td:last-child {
      border-bottom: 0;
    }

  .cart-list table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
	  min-width: 120px;
	  text-align:left;
    }
  .cart-list  table tbody tr td:nth-child(2),
  .cart-list  table tbody tr td:nth-child(6) {display:block; background:#ddd; color:#000; height: 35px; padding: 10px;}
 
}


/*04-04-2017 message-home-page*/
.mess-home-main-sec { margin-top: 17%; border: 1px solid #ccc; padding: 0;}
.clse-head-btn {background-color: #4f96d3;display:inline-block;width: 100%;padding: 10px 15px;text-align:right;color:#fff;font-size: 22px;cursor:pointer;}
.clse-head-btn fa{text-align:right;}
.mes-text-main{display:table;width:100%; min-height: 200px;}
.mes-text-main p{display:table-cell;width:100%;padding: 15px;text-align:center;margin:auto;color:#333;font-size:20px;vertical-align: middle;}

/*---------*/

@media (max-width: 767px){
	.nav.navbar-nav.navbar-right {
		float: none;
		margin: 0 auto;
	}
	.custom-nav li {display:block; text-align:center;}
	/*#filtercategory {display:block;}*/
	.filtercollapse {/*display:none;*/position: absolute;z-index: 5; box-shadow:0 3px 15px rgba(0,0,0,0.3);width: 96%; }
	.message-cart {padding:20px 15px;}
	.message-cart .icon,
	.message-cart .msg-text {display:table-row;}
	.message-cart .icon .cart {
		font-size: 12vh;
	}
    
    .btn {padding:8px 10px;}
    .overflowprod {
        min-height: 450px;
        max-height: none;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .navbar-collapse {
        top: 126px;
    }
    .mob-m-t-80{
        margin-top:80px;
    }

    .fixed-view-section{
        position:absolute;
        top:48px;
        bottom:0px;
        width:100%;
        overflow:auto;
        padding-top:80px;
    }


}

@media (max-width: 500px) {
     .cart {
        width: 50px;
        color: #ef6c00;
        font-size: 40px;
        line-height: 58px;
        position: relative;
        top: 0;
        right: 0;
    }
    .cart .cart-lebel {right:5px;}

    .navbar-brand{
         height:68px;
     }
}

@media (max-width: 479px){
	.navbar-bg {
		height: 68px;
	}
	.brand-bg {
		height: 68px;
		width: 125px;
	}
	.custom-nav .btn {
		margin: 12px 0 12px 10px;
	}
	.cart-count {
		padding-right: 5px;
	}
    
	.navbar-collapse {
        top: 126px;
    }
	.filtercollapse {width:90%;}

}
@media (max-width: 400px){
	.navbar-bg {
		height: 68px;
	}
	.brand-bg {
		height: 68px;
		width: 145px;
	}
	.custom-nav .btn {
	    margin: 14px 0 6px 0px;
        padding: 11px 1px 6px;
	}
	.custom-nav .btn .fa {font-size: 1.9rem;margin-right: 0;float: none;padding: 0;}
    .custom-nav .btn span {
		display: none;
	}
	.cart-count {
		padding-right: 10px;
	}
	.description .pricelist a {font-size:14px;}
	.description .pricelist .btn.btn-auto {
		padding: 10px 15px;
	}
}
@media (max-width: 359px) {
    .cart-count a span {display:none;}
    .btn { padding: 8px 10px; width:100%; margin:5px 0;}
}

.error-dark{
    color: #bc0000;
    font-size: 13px;
    line-height: 21px;
    font-weight: normal;
}

.modal{
   z-index: 9999999;
}
.modal-backdrop{
    z-index:999999;
}

.ajax-loader-custom{background: #ffffff;
     height: 100vh;
     padding-top: 25%;}

.btn-info.focus, .btn-info:focus {
    background-color: var(--main-bg-color);

}