﻿<div ng-if="ShowLoader" class="overLayGIF overLayGIF1">
    <div>
        <img class="div_img" src="~/../assets/img/32.gif" />
    </div>
</div>
<!--Strat Main Container-->
<div id="body-wrapper">
    <header class="fixed-head">

        <nav class="navbar navbar-default nav-custom">
            <div class="container menu-box">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">

                    <!--  <div class="main-logo"></div> -->
                </div>

            </div>
        </nav>

        <div class="header-top">
            <div class="container">
                <p class="top-content">{{storeINFO}}</p>
            </div>
        </div>

        <!--Start Top Header-->

    </header>
    <!--End Top Header-->


    <!--Start content-->
    <div class="main-container">

        <div class="content-wrapper">
            <div class="container page-inner">

                <h4>setup your account</h4>
                <p class="sub-text">Please enter the following account information (All information is required)</p>
                <form name="signupForm" ng-submit="submit();" novalidate class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : signupForm.accountNo.$invalid && !signupForm.accountNo.$pristine }">
                            <div class="">
                                <label>Active agreement number (located on agreement or any receipt)</label>
                                <input type="text" name="accountNo" ng-model="accountNo" class="form-control" placeholder="" required onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                            <div ng-messages="signupForm.accountNo.$error" ng-if="signupForm.accountNo.$dirty">
                                <div ng-message="required" class="error">Account no. is required.</div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : signupForm.customerNo.$invalid && !signupForm.customerNo.$pristine }">
                            <div class="">
                                <label class="margin-top15">Customer number (located on agreement or any receipt)</label>
                                <input type="text" name="customerNo" ng-model="customerNo" class="form-control" placeholder="" required onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                            <div ng-messages="signupForm.customerNo.$error" ng-if="signupForm.customerNo.$dirty">
                                <div ng-message="required" class="error">Customer no. is required.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : signupForm.userName.$invalid && !signupForm.userName.$pristine }">
                            <div class="">
                                <label class="margin-top15">Create user name (must be at least 8 characters and cannot contain spaces)</label>
                                <input type="text" name="userName" ng-minlength="8" ng-maxlength="30" ng-model="userName" ng-trim="false" ng-change="field = field.split(' ').join('')" class="form-control" placeholder="" required>
                            </div>

                            <div ng-messages="signupForm.userName.$error" ng-if="signupForm.userName.$dirty">
                                <div ng-message="required" class="error">Username is required.</div>
                                <div ng-message="minlength" class="error">Username must have 8 characters.</div>
                                <div ng-message="maxlength" class="error">Username should not greator than 30 characters.</div>
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                            <div class="">
                                <label class="margin-top15">Create password (must be between 6 and 16 characters)</label>
                                <input type="password" name="password" ng-model="password" id="password" ng-maxlength="16" ng-minlength="6" class="form-control" placeholder="" required>
                            </div>

                            <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$dirty">
                                <div ng-message="required" class="error">Password is required.</div>
                                <div ng-message="minlength" class="error">Password must have 6 characters.</div>
                                <div ng-message="maxlength" class="error">Length of password cannot exceed 16 characters.</div>
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : signupForm.confirmPass.$invalid && !signupForm.confirmPass.$pristine }">
                            <div class="">
                                <label class="margin-top15">Confirm password</label>
                                <input type="password" name="confirmPass" ng-model="confirmPass" id="confirmPass" required data-pw-check="password" class="form-control" placeholder="">
                            </div>
                            <div ng-messages="signupForm.confirmPass.$error" ng-if="signupForm.confirmPass.$dirty">
                                <div ng-message="required" class="error">Confirm password is required</div>
                                <div ng-message="pwmatch" class="error">Passwords do not match!</div>
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : signupForm.emailAdd.$invalid && !signupForm.emailAdd.$pristine }">
                            <div class="">
                                <label class="margin-top15">E-mail address (used for password retrieval and payment receipts)</label>
                                <input type="email" name="emailAdd" ng-model="emailAdd" class="form-control" placeholder="" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                            </div>
                            <div ng-messages="signupForm.emailAdd.$error" ng-if="signupForm.emailAdd.$dirty">
                                <div ng-message="pattern" class="error">Please enter a valid email.</div>
                                <div ng-message="required" class="error">Email is required.</div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-12" ng-class="{ 'has-error' : signupForm.CodeNumberTextbox.$invalid && !signupForm.CodeNumberTextbox.$pristine }">
                            <div class="">
                                <div class="captcha-sec">
                                    <label id="mainCaptcha">{{capchaVal}}</label>
                                <div class="vol-ref-sec">
                                        <a id="speak" ng-click="speak();"> <i class="fa fa-volume-up" aria-hidden="true"></i></a>
                                        <a ng-click="refresh();"> <i class="fa fa-refresh" aria-hidden="true"></i></a>
                                </div>
                                </div>
                                <label class="margin-top15">Enter the code shown above</label>
                                <input type="text" id="" name="CodeNumberTextbox" ng-model="CodeNumberTextbox" class="form-control" placeholder="" required>
                            </div>
                         
                            <div ng-messages="signupForm.CodeNumberTextbox.$error" ng-if="signupForm.CodeNumberTextbox.$dirty">
                                <div ng-message="required" class="error">Captcha is required..</div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="">
                                <label class="margin-top15">Terms and Conditions</label>
                                <div class="clearfix"></div>
                               
                                <textarea id="Terms" ng-model="termsCondtions" readonly="readonly" rows="7" class="form-control open"></textarea>
                            </div>
                            <div class="checkbox">
                                <label class="margin-top15"><input type="checkbox" ng-model="checked">I agree to the terms and conditions above</label>
                            </div>
                        </div>
                    </div>

                    <div id="dis1" class="error">{{message}}</div>
                    <div id="dis2" class="error">{{apiErrorMessage}}</div>

                    <div class="form-group">
                            <div class="col-sm-6 text-left">
                                <a href="#/LogIn">Return to Login</a>
                            </div>
                            <div class="col-sm-6 text-right">
                                <input type="submit" ng-disabled="signupForm.$invalid || !checked" value="Submit " class="btn btn-success">
                            </div>
                    </div>

                </form>

            </div>

        </div>
    </div>

    <div class="clear"></div>
    <div class="footer"><p>© Copyright 2016  |   <a href="#/ReportIssue">Report Issue</a></p></div>
</div>
<!--End Main container-->

